<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">About Me</h3>
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="ni ni-cloud-upload-96 mr-2"></i> Personal Information
          </ng-template>
          <ng-template ngbTabContent>
            <p class="description">I work as a Frontend Developer. I love what I do. I love to learn new information and
              read constantly in my business and personal life. </p>
            <p class="description">I am a writer on Medium. Writing about software and my
              personal thoughts relaxes me.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="ni ni-bell-55 mr-2"></i> Education Information
          </ng-template>
          <ng-template ngbTabContent>
            <p class="description"><b>Computer Engineering</b></p>
            <span class="badge badge-pill badge-success text-uppercase">09.2014</span>
            <span class="badge badge-pill badge-success text-uppercase"> 06.2019 </span>
            <p class="description">
              Eskişehir Technical University (Old name is Anadolu University)
            </p>
            <p class="description"><b>Thesis</b></p>
            <p class="description">
              IMDB Prediction System
            </p>
            <p class="description"> * Machine Learning and Python
            </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <i class="ni ni-calendar-grid-58 mr-2"></i> Certificates
          </ng-template>
          <ng-template ngbTabContent>
            <span class="badge badge-pill badge-success text-uppercase">2019</span>
            <p class="description"><b>Turkcell Geleceği Yazan Kadınlar</b>
            </p>
            <span class="badge badge-pill badge-success text-uppercase">2017</span>
            <p class="description"><b>Clean Code</b>
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <div class="row row-grid justify-content-center align-items-center mt-lg">  </div>
</div>
