<section class="section section-lg section-nucleo-icons pb-250"
  style="padding-bottom: 0 !important; margin-bottom: -6rem !important;">
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center" style="margin-bottom: 3rem;">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Application Software Engineer</h6>
                  <p class="description mt-3">
                    Savronik Elektronik
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">11.2020 - Continues</span>
                  </div>
                  <p class="description mt-3">
                    FrontEnd Developer
                  </p>
                  <p class="description mt-3">
                    Business solution and business development
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">GYK Platform Tester</h6>
                  <p class="description mt-3">
                    Turkcell Global Bilgi
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">07.2020 - 02.2021</span>
                  </div>
                  <p class="description mt-3">
                    End-user tests
                  </p>
                  <p class="description mt-3">
                    Mobile - Web tests
                  </p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Software Engineer</h6>
                  <p class="description mt-3">
                    Küresel İnovasyon
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">09.2020 - 10.2020</span>
                  </div>
                  <p class="description mt-3">
                    E-commerce web application
                  </p>
                  <p class="description mt-3">
                    PHP - Admin Panel System
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-bottom: 4rem;">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Software Engineer</h6>
                  <p class="description mt-3">
                    Orthopia
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">12.2019 - 09.2020</span>
                  </div>
                  <p class="description mt-3">
                    Developing Company's ERP System
                  </p>
                  <p class="description mt-3">
                    Mobile Application / Java
                  </p>
                  <br>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Software Engineer</h6>
                  <p class="description mt-3">
                    Dilişim (Bentego)
                  </p>
                  <div>
                    <span class="badge badge-pill badge-primary">08.2018 - 05.2019</span>
                  </div>
                  <p class="description mt-3">
                    Developing Web Application
                  </p>
                  <p class="description mt-3">
                    PHP Laravel and React
                  </p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-bottom: 2rem;">
        <div class="col-lg-12">
          <section class="section section-lg pt-0">
            <div class="container">
              <div class="card bg-gradient-warning shadow-lg border-0">
                <div class="p-5">
                  <div class="row align-items-center">
                    <div class="col-lg-8">
                      <h3 class="text-white">Internship Information</h3>
                    </div>
                    <div class="col-lg-12" style="margin-top: 2rem;">
                      <div class="row row-grid">
                        <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                              <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                                <i class="ni ni-planet"></i>
                              </div>
                              <h6 class="text-warning text-uppercases">Software Engineer</h6>
                              <p class="description mt-3">
                                PİTON Ar-Ge ve Yazılım Evi
                              </p>
                              <div>
                                <span class="badge badge-pill badge-warning">06.2019 - 07.2019</span>
                              </div>
                              <p class="description mt-3">
                                Developing Web Application
                              </p>
                              <p class="description mt-3">
                                Frontend Developing with Angular
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="card card-lift--hover shadow border-0">
                            <div class="card-body py-5">
                              <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                                <i class="ni ni-planet"></i>
                              </div>
                              <h6 class="text-warning text-uppercase">Software Engineer</h6>
                              <p class="description mt-3">
                                Dilişim (Bentego)
                              </p>
                              <div>
                                <span class="badge badge-pill badge-warning">07.2018 - 08.2018</span>
                              </div>
                              <p class="description mt-3">
                                Developing Web Application
                              </p>
                              <p class="description mt-3">
                                Frontend Developing with Php-Laravel and React
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</section>