<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">Welcome My Blogs
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg pt-lg-0 mt--200" style="padding-bottom: 3rem;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-12" style="margin-bottom: 3rem;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5" style="margin: 1rem;">
                  <h6 class="text-primary text-uppercase">How to Use Angular Component Styles with Special Selectors
                  </h6>
                  <p class="description"><span>Adding style to your Angular applications on the basis of components with
                      separate style files helps you create a more modular design.</span></p>
                  <div>
                    <p class="description">
                      You can use CSS standards directly in your Angular applications. In other words, you can add any
                      information you know about media queries, selectors, rules, and CSS, and add color to your
                      application.
                      Adding style to your applications on the basis of components with separate style files helps you
                      create a more modular design when all of them are considered as a whole.
                      HTML and style definitions can be made in different ways in Angus. If you want, you can define it
                      in the @Component component or access it from the HTML and CSS pages, such as in the usual
                      layout...
                    </p>
                  </div>
                  <a href="https://javascript.plainenglish.io/how-to-use-angular-component-styles-with-special-selectors-dc877514372c"
                    class="btn btn-primary mt-4" target="_blank">Read more</a>
                    </div>
              </div>
            </div>
            <div class="col-lg-12" style="margin-bottom: 3rem;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5" style="margin: 1rem;">
                  <h6 class="text-primary text-uppercase">How to Work with the Angular Nebular UI Library and Use a
                    Simple Splash Screen
                  </h6>
                  <p class="description"><span>Splash screen becomes a necessity in some cases, so I wanted to show it
                      in a very simple way and I will talk about the Nebular UI library that I love to use with
                      Angular.</span></p>
                  <div>
                    <p class="description">
                      <span>ng add @nebular/theme</span>
                      You can follow these steps in Nebular’s doc. Since you added Nebular using the Angular CLI, it
                      will do the steps here for you, but it’s worth checking out.
                      The next step is creating Home and SplashScreen Component. At this step, we need to create a
                      Module for Home Component. Go to src/app folder...
                    </p>
                  </div>
                  <a href="https://javascript.plainenglish.io/how-to-work-with-the-angular-nebular-ui-library-and-use-a-simple-splash-screen-3dd0d1790478"
                    class="btn btn-primary mt-4" target="_blank">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12" style="margin-bottom: 3rem;">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5" style="margin: 1rem;">
                  <h6 class="text-primary text-uppercase">How to Use the WebSocket on Node-Red in a JavaScript
                    Application
                  </h6>
                  <p class="description"><span>Setting test data via Node-Red for WebSocket data transfer</span></p>
                  <div>
                    <p class="description">
                      Firstly, for using JQuery we added the jquery.min.js package in the script file. When we have no
                      network connection, it will be our connection port. When I write JavaScript codes, I prefer to use
                      jQuery to make my job easier.
                      We will use a lot of calls in the WebSocket payload, so JQuery will reduce our work.
                      One of the best conveniences that jQuery provides is that we can easily manage CSS. In addition,
                      we can provide our DOM and HTML manipulations very easily...
                    </p>
                  </div>
                  <a href="https://betterprogramming.pub/how-to-use-the-websocket-on-node-red-in-javascript-apps-8876f2e001a0"
                    class="btn btn-primary mt-4" target="_blank">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5" style="margin: 1rem;">
                  <h6 class="text-primary text-uppercase">How to Use Sass and Enjoy CSS with Dynamic Structure
                  </h6>
                  <p class="description"><span>Since CSS is a static structure, we have to constantly repeat the code.
                      We bring dynamic structure to our CSS code with Sass.
                    </span></p>
                  <div>
                    <p class="description">
                      The functional features of Sass and SCSS are the same. The only difference is the use of
                      curly braces and semicolons.
                      Why did I choose to use SCSS?
                      I turned to SCSS because of the need to write long and repetitive CSS codes, to make some
                      calculations in CSS, to use loops and if-else...
                    </p>
                  </div>
                  <a href="https://javascript.plainenglish.io/how-to-use-sass-and-enjoy-css-with-dynamic-structure-900ea2adddf7"
                    class="btn btn-primary mt-4" target="_blank">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>