<section class="section section-components">
  <app-personal-information-section></app-personal-information-section>
</section>
<section class="section section-shaped" style="height: 20rem;">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Work Experience</h1>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<app-work-experience-section></app-work-experience-section>
<section class="section section-lg section-shaped">
  <div class="shape shape-style-1 shape-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row row-grid justify-content-between align-items-center">
      <div class="col-lg-6">
        <h3 class="display-3 text-white">Personal Project
          <span class="text-white">Konuş Benimle</span>
        </h3>
        <p class="lead text-white">The purpose of the application is to help our children with speech disorders to do
          their necessary work at home without wasting time and to receive therapies</p>
        <small>This mobile application is coded in Java.</small>
        <div class="btn-wrapper" style="margin-top: 1rem;">
          <a href="https://play.google.com/store/apps/details?id=sb.konusbenimle.speakme" class="btn btn-success"
            target="_blank">Visit
            Page</a>
        </div>
      </div>
      <div class="col-lg-5 mb-lg-auto">
        <div class="transform-perspective-right">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center mb-3">
                <span><b>Konuş Benimle</b></span><br>
                <small>You can access it for free from the Google Play Store.</small>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-6">
              <img src="../../assets/speakme.png" class="card-img-top">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>
<app-skills-section></app-skills-section>
<section class="section pb-0 bg-gradient-warning">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-lg-2 ml-lg-auto">
        <div class="position-relative pl-md-5">
          <img src="../../assets/img/ill/happyy.svg" class="img-center img-fluid">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-active-40"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-warning">Free Time Activity</h5>
                <p>I usually spend my time reading articles. I like to drink coffee outdoors on the balcony. I try to
                  re-code the new information I have learned. I keep learning React.js.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-satisfied"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-success">Interests</h5>
                <p>Opera Symphony
                  Painting
                  Meditation
                  Yoga
                  Sport
                  Writing
                  Cactus Care</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow shadow-lg--hover mt-5">
          <div class="card-body">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-active-40"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-warning">Languages</h5>
                <p>English</p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>